{#
/**
 * @file
 * Free shipping indicator block.
 *
 * Available variables:
 * - free_shipping_amount: The total amount required for order to have free shipping.
 * - amount_left: The amount left for the order to have free shipping.
 * - percentage: The percentage of amount left for free shipping.
 * - currency: The currency of the order.
 * - eligible_for_free_shipping: String containing message if order is eligible for free shipping.
 * - ineligible_for_free_shipping: String containing message if order is not eligible for free shipping.
 *
 */
#}

{{ attach_library('commerce_free_shipping_indicator/free_shipping_indicator_styles') }}
<div class="free-shipping-block-container">
  {% if amount_left %}
    <div class="free-shipping-label ineligible">
      {{ ineligible_for_free_shipping|t({'@free-shipping-amount': currency ~ amount_left}) }}
    </div>
  {% else %}
    <div class="free-shipping-label eligible">
      {{ eligible_for_free_shipping|t({'@free-shipping-amount': currency ~ amount_left}) }}
    </div>
  {% endif %}
</div>
<div class="free-shipping-indicator" style="background: linear-gradient(90deg, #ebe822 0%, #057125 {{ percentage }}%, #d6d6d6 0%)"></div>
